* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#canvas-container {
  background-color: #9f9f9f;
  margin: 10px auto;

  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 10px;
  width: 10px;
}

.drawn {
  background-color: #000000;
}
