* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #eeeef2;
}

#canvas {
  height: 504px;
  width: 504px;

  padding: 2px;

  background-color: #B5B5BF;
  box-shadow: 0 0 5px #cab2b2, inset 0 0 10px #00000050;

  display: flex;
  flex-wrap: wrap;

  border-radius: 5px;

  cursor: pointer;
}

#canvas-container {
    background-color: #A80100;
    display: inline-flex;
    flex-direction: column;
    padding: 30px 30px 0 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 8px #acacb1, inset 0 0 10px #cab2b2;
}

#wheel-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 12px;
    border: 2px solid #b6a831;
    border-radius: 4px;
    background-color: #EEDE4D;
    color: #60591b;
    box-shadow: 0px 4px 5px #910b0b, inset 0px 4px 4px #b6a83180;
    cursor: pointer;
}

.wheel {
    background-color: #f6ecec;
    width: 10%;
    padding-top: 10%;
    border-radius: 50%;
    box-shadow: 0px 4px 5px #910b0b, inset 0px 4px 5px #e4cece;
}